<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Profile</title>
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
	<!-- header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-3">
					<div class="logo"><a href="index"><img src="{{url_for('static', filename='images/logo.png')}}"></a></div>
				</div>
				<div class="col-sm-6">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav" style="text-align:right">
                           <a class="nav-item nav-link" href="index">Home</a>
							            <a class="nav-item nav-link" href="profile">Profile</a>
					        	      <a class="nav-item nav-link" href="user_logout">LogOut</a>
                        </div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
	</div>
	<!-- header section end -->
    <center>
      <button class="submit_bt" id="upload" onclick="window.location.href='uploadCookbook'">Upload cookbook</button>
      <button class="submit_bt" id="myFav" onclick="window.location.href='myFavorite'">My favorite</button>
    </center> 
  </div>
	<!-- contact section start -->

  	  {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
    <div class="contact_section layout_padding">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-6">
                    <div class="input_main">
                       <div class="container">
                         <center><h2 style="color:white">User Information</h2></center><br />
                          <form action="profile" method="post">                            
                         
                            <div class="form-group">
                              <input type="password" class="email-bt" placeholder="old Password" name="password">
                            </div>
                            <div class="form-group">
                              <input type="password" class="email-bt" placeholder="new Password" name="new_password">
                            </div>
                            <div class="form-group">
                              <center><button class="submit_bt">update</button></center>
                            </div>
                          </form>
                       </div> 
                    </div>
                </div>
    		</div>
    	</div>
    </div>

    <div class=" layout_padding promoted_sectipon">
      <div class="container">
        <h1 class="promoted_text">MY COOK BOOK</span></h1>
        <div class="images_main">
          <div class="row">
            {% for item in data %}
              <div class="col-sm-6 col-md-6 col-lg-3">
                <center><h2>Book title:{{item[2]}}</h2></center>
                <center><label>Author:{{item[1]}}</label></center>
                <center><h3>Destription:{{item[3]}}</h3></center>
                <button class="mobile_bt"><a href="detail?id={{item[0]}}">Detail</a></button><br/>
                <button class="mobile_bt"><a href="DeleteCookbook?id={{item[0]}}">Delete</a></button><br/>
                <button class="mobile_bt"><a href="editCookbook?id={{item[0]}}">Edit</a></button><br/><br/>
              </div>
              {% endfor %}	
            
          </div>
        </div>
	<!-- contact section end -->

	<!-- copyright section end -->
      
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
    
</body>
</html>